/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
.container {
    display: flex;
    flex-direction: column;
  }
  
.container > * {
    width: 100%;
  }
  .mini{
      display: flex;
      flex-direction: column;
      width: 10%;
  }
